<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" href="index.css">

    <title>Elko xDDDDD</title>
</head>
<body>

<div id="showData"></div>
<script type="text/javascript" src="index.js"></script>
<button type="button" onclick="location.href='/lecture'">Add a new lecture</button>

</body>
</html>



